@import "../../global";

.imageContainer {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
}

.navigationLine {
  position: relative;
  height: 3px;
  margin-bottom: 10px;
  display: flex;
  .scroller {
    position: absolute;
    height: inherit;
    background-color: $purple;
    transition: $smoothAnimation;
  }

  .text {
    background-color: rgba($purple, .2);
    height: inherit;
    flex: 1;
    margin: 0 2px;
  }
}

.imageWrapper {
  display: flex;
  transition: $smoothAnimation;
}

.image {
  max-height: 500px;
  object-fit: contain;
  filter: grayscale(.4);
}

.imageNavigation {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
  button {
    display: flex;
    padding: 10px;
    border: none;
    outline: none;
    background-color: $purple;
    cursor: pointer;
    &:first-child{
      transform: rotate(180deg);
      margin-right: 5px;
    }
    svg {
      fill: $white;
    }
  }
}