@import "../../global";


.skillCircle {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: $purple;
  border-radius: 50%;
  opacity: .8;

  box-shadow: inset 0 0 30px 10px rgba($background, .8);


  &:before {
    position: absolute;
    content: '';
    width: 180px;
    height: 360px;
    border-bottom-right-radius: 185px;
    border-top-right-radius: 185px;
    border: 5px solid $purple;
    border-left: 0;
    left: 50%;
    transform: translateY(-30px);
  }

}

.contentWrapper {
  overflow: hidden;
  height: 300px;
  position: relative;
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(105px);
  width: 100%;
  height: calc(100% - 20px);
  transition: .3s;
  margin-top: 10px;

}


.title {
  font-family: $fontFira;
  color: $white;
  font-weight: bold;
  font-size: 20px;
  opacity: .5;
  cursor: default;
  transition: .2s;
  margin: 0 auto;
  width: fit-content;

  &:not(.active):hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: 1;
  }

  &.active {
    font-size: 35px;
    opacity: 1;
  }
}

