@import "../../../global";


.experienceContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 40px 40px 60px 40px;

}


.roadmap {
  position: relative;
  margin-top: 50px;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  border-radius: 1px;
  opacity: .6;
  left: 263px;
  top: -10px;
  @include setGradient(0deg);
}