@import "../../global";

.item {
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-bottom: 20px;


  .date {
    font-size: 12px;
    font-family: $fontFira;
    font-weight: bold;
    color: $white;
    white-space: nowrap;
    text-align: right;
    margin-right: 20px;
    flex-basis: 250px;
    opacity: 0;
    transform: translateX(-100px);
    transition: .3s;

    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .text {
    flex: 1;
    position: relative;
    color: $paragraph;
    margin-left: 50px;

    opacity: 0;
    transform: translateX(100px);
    transition: .3s;

    &.show {
      opacity: 1;
      transform: translateX(0);
    }

    &:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      left: -55px;
      top: 10px;
      background-color: $decoration;
    }

    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: $white;
      filter: blur(1px);
      z-index: 1;
      top: 11px;
      left: -60px;
      transform: translateY(-50%);
    }

  }
}