@import "../../../global";


.container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  background-color: $dark;
}


.menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: $white;
  padding: 10px 0;
  transition: $smoothAnimation;
  flex: 1;
  svg {
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    fill: $white;
    transition: $smoothAnimation;
  }
  &.active {
    background-color: $background;
    color: $purple;
    svg {
      fill: $purple;
    }
  }

}
