@import "../../../global";

.touchContainer {
  width: 100%;
  height: 450px;
  perspective: 800px;
  transition: $smoothAnimation;
  margin-bottom: 20px;
}

.touchWrapper {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform $smoothAnimation;

}

.face {
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: $background;
  transition: $smoothAnimation;
  backface-visibility: hidden;
  border-radius: 10px;
}

%counterStyles {
  font-family: $fontFira;
  color: $white;
  padding-bottom: 20px;
  width: fit-content;
  margin-bottom: 20px;
}


%titleStyles {
  color: $white;
  font-size: 30px;
}