@import "../../global";

.counterContainer {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  .dot {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $purple;
    margin: 10px 0;
    transition: $smoothAnimation;
    cursor: pointer;
    animation: pulse 2s ease infinite;
    &:before {
     content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      overflow: hidden;
      font-size: 25px;
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: $purple;
      transition: $smoothAnimation;
    }
    &:hover:before, &.active:before {
      width: 15px;
      height: 15px;
    }

    &.active, &.active:hover {
      animation: none;
    }
  }
}