@import "../../../global";

.sectionContainer {
  position: fixed;
  left: 0;
  width: 100vw;
  height: calc(100% - 56px);
  padding: 0 $touchContainerPadding;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition: $smoothAnimation;
  top: 0;

  @media (max-width: 550px) {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }
}


.show {
  opacity: 1;
  visibility: visible;
}