@import "../../global";

.portfolioContainer {
  @extend %sectionStyles;
}

.projects {
  padding-top: 20px;

  @media (min-width: $maxWidthContent) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}