@import "../../global";

.skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  clip-path: polygon(30% 0%, 70% 0%, 99% 10%, 100% 100%, 69% 100%, 0% 100%, 0 100%, 0 10%);
  height: min(100vh, 700px);
  @extend %sectionStyles;
}