@import "../../global";

.infoCardContainer {
  position: relative;;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: $background;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: $smoothAnimation;
  width: calc(50% - 10px);
  @media (max-width: 550px) {
    width: 100%;
  }

}

.info {
  transition: $smoothAnimation;
  height: 50px;
  overflow: hidden;
  margin-right: 35px;
  margin-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 5px;

  svg {
    width: 30px;
    height: 30px;
    fill: $white;
  }
}

.title {
  color: $white;
  font-size: 18px;
  margin-bottom: 5px;
}

.extraInfo,
.subtitle {
  color: $paragraph;
  margin-bottom: 15px;
}

.extraInfo {
  line-height: 20px;
}

.buttonsContainer {
  position: absolute;
  right: 0;

  height: inherit;
  width: 30px;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.buttonsWrapper {
  display: flex;
  height: 100%;
  transform: translateX(1px);
  transition: $smoothAnimation;

  &.hideButtonShow {
    transform: translateX(-27px);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  width: 30px;
  border: none;
  color: $white;
  font-family: $fontFira;

  span {
    display: block;
    transform: rotate(-90deg) translateY(-4px);
  }
}
