@import "../../../../global";
@import "../Touch.module";

.back {
  .backContainer {
    border-radius: 10px;
    transition: $smoothAnimation;
    height: 450px;
    overflow: hidden;
    background-color: $background;
  }
  .closeButton {
    position: absolute;
    cursor: pointer;
    color: $white;
    font-size: 30px;
    right: 10px;
    top: 0;
    z-index: 100;
  }
  .counter {
    @extend %counterStyles;
    padding: 10px 0 0 10px;
  }

  .title {
    @extend %titleStyles;
    border-bottom: 1px solid $purple;
    padding: 0 20px 5px 10px;
    margin-bottom: 10px;
  }

  .description {
    color: $paragraph;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 10px 10px;
    div~div {
      margin-left: 20px;
    }
  }
}