@import "../../../../global";
@import "../Touch.module";

.front{
  border-left: 2px solid $purple;
  padding: 10px;
  .counter {
    @extend %counterStyles;
    border-bottom: 2px solid $purple;
  }

  .image {
    border-radius: 5px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: grayscale(.4);
    margin-bottom: 20px;
  }

  .subtitle {
    color: $darkPurple;
    font-family: $fontFira;
    font-size: 20px;
  }

  .title {
    @extend %titleStyles;
    margin-bottom: 20px;
  }

}