@import "../../global";


.content {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  border-radius: 0 0 10px 0;
  justify-self: flex-end;
  transition: $smoothAnimation;
  span {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: $smoothAnimation;
    color: $white;
    font-size: 20px;
  }
  &:before {
    position: absolute;
    content: '';
    height:50%;
    background-color: $white;
    border-radius: 10px;
    z-index: -1;
    transition: $smoothAnimation;
    left: 0;
   width: 100%;
  }
  &.en:before {
    transform: translateY(0) ;
  }
  &.en span:first-child {
    color: $background;
  }
  &.ru:before {
    transform: translateY(35px);
  }

  &.ru span:last-child {
    color: $background;
  }

  @media (min-width: $phoneBreakpoint) {
    margin-bottom: 51px;
  }
}