@import "../../global";


.content {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 120px;
  border-radius: 0 0 10px 0;
  padding: 5px 0;
  transition: $smoothAnimation;
  span {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: $smoothAnimation;
    color: $white;
  }
  &:before {
    position: absolute;
    content: '';
    height: calc(50% - 5px);
    background-color: $white;
    border-radius: 10px;
    z-index: -1;
    transition: $smoothAnimation;
    left: 15px;
    width: calc(100% - 30px);
  }
  &.en:before {
    transform: translateY(0) ;
  }
  &.en span:first-child {
    color: $background;
  }
  &.ru:before {
    transform: translateY(30px);
  }

  &.ru span:last-child {
    color: $background;
  }
}