@import "../../../global";

.skillsTouchContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
                "javaScript       javaScript       bem              react        react          react       nodejs"
                "javaScript       javaScript       bem              react        react          react       nodejs"
                "css              css              css              css          sass           sass        git"
                "styledComponents styledComponents jquery           html         sass           sass        git"
                "redux            redux            redux            html         typeScript     typeScript  typeScript"
                "express          nestjs           nestjs           html         typeScript     typeScript  typeScript"
                "npm              npm              angular          kotlin       cpp            python      python"
                "postgres         postgres         postgres         postgres     mongodb        mongodb     mongodb";
  @media (max-width: 1000px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
                "javaScript       javaScript       javaScript       react        react          react"
                "javaScript       javaScript       javaScript       react        react          react"
                "css              css              css              css          sass           sass"
                "styledComponents styledComponents styledComponents html         sass           sass"
                "redux            redux            redux            html         typeScript     typeScript"
                "express          nestjs           nestjs           html         typeScript     typeScript"
                "nodejs           git              jquery           jquery       jquery         jquery"
                "nodejs           git              angular          bem          bem            cpp"
                "npm              npm              kotlin           kotlin       python         python"
                "postgres         postgres         postgres         mongodb      mongodb        mongodb";
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
                "javaScript       javaScript       react      react      react"
                "javaScript       javaScript       react      react      react"
                "css              css              react      react      react"
                "styledComponents styledComponents html       html       sass"
                "redux            redux            typeScript typeScript typeScript"
                "express          nestjs           typeScript typeScript typeScript"
                "nodejs           git              typeScript typeScript typeScript"
                "nodejs           git              angular    jquery     jquery"
                "npm              git              bem        bem        bem"
                "kotlin           git              python     python     cpp"
                "postgres         postgres         mongodb     mongodb   cpp";
  };

  @media (max-width: 400px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
                "javaScript       javaScript       react                  react"
                "javaScript       javaScript       react                  react"
                "css              css              css                    html"
                "styledComponents styledComponents styledComponents       html"
                "sass             sass             cpp                    cpp "
                "redux            redux            typeScript             typeScript"
                "express          nestjs           typeScript             typeScript"
                "nodejs           git              typeScript             typeScript"
                "nodejs           git              angular                jquery"
                "npm              bem              bem                    jquery"
                "kotlin           kotlin           python                 python"
                "postgres         postgres         mongodb                mongodb";
  }
}

.skillTags {
  position: sticky;
  top: 0;
  margin-left: -10px;
  width: calc(100% + 20px);
  background-color: $background;
  z-index: 1;
  color: $white;
  display: flex;
  padding: 5px;
  user-select: none;
  overflow: auto;

  .skillTag {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    flex-shrink: 0;
    transition: .2s;
    border: 1px solid $white;
    &.active {
      color: $purple;
      border-color: $purple;
    }

  }

  .skillTag:not(:last-child) {
    margin-right: 10px;
  }
}