@import "../../global";

.headerWrapper {
  display: flex;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 100% calc(100vh - 150px), 70% 100%, 30% 100%, 0 calc(100vh - 150px));
  background-color: $dark;
  padding: 50px 0;
  height: calc(100vh - 61px);
}

.headerContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;

}

.backgroundText {
  position: absolute;
  font-weight: 700;
  font-size: 160px;
  z-index: 1;
  color: $decoration;
  font-family: $lobster;
  transform: rotate(-15deg) translate(0%, 10%);
  user-select: none;
  white-space: nowrap;
}

.leftSide {
  max-width: 500px;
  z-index: 2;
  margin-right: 10px;
}

.rightSide {
  z-index: 2;
}

.social {
  display: flex;
  margin-bottom: 20px;

  a {
    margin-right: 20px;
  }
}

.title {
  font-weight: 700;
  font-family: $fontFira;
  color: $white;
  font-size: 35px;
  margin-bottom: 10px;
}

.briefly {
  color: $paragraph;
  font-size: 20px;
  margin-bottom: 20px;
}

