@import "../../global";

.list {
  display: flex;
  justify-content: flex-end;
  color: $white;
  font-size: 18px;
  font-weight: $fontFira;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .listItem {
    margin-right: 10px;
  }
}