@import "../../global";

.list {
  display: flex;
  justify-content: flex-end;
  color: $white;
  font-size: 18px;
  font-weight: $fontFira;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;

  .listItem {
    border: 1px solid $purple;
    padding: 10px;
    border-radius: 5px;
  }
}