@import "../../global";

.greetingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-weight: 700;
  font-family: $fontFira;
  color: $white;
  font-size: calc(10px + 4vw);

  .text {
    position: relative;
    text-align: center;
  }


  .decorateText {
    background: linear-gradient(-125deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, $purple, $darkPurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: text-animate 5s linear infinite;
  }

  .lines {
    position: absolute;
    width: 100%;

  }

  .line {
    margin: 40px auto;
    height: 3px;
    border-radius: 3px;
    background-color: rgba($white, .5);
    animation: line-animate 3s ease infinite;

    &:nth-child(2) {
      animation-delay: .4s;
    }

    &:nth-child(3) {
      animation-delay: .8s;
    }

    &:nth-child(4) {
      animation-delay: 1.2s;
    }

    &:nth-child(5) {
      animation-delay: 1.6s;
    }
  }
}


@keyframes line-animate {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


@keyframes text-animate {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }

}