@import "../../../global";
.portfolioContainer {
  padding: $touchContainerPadding;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  @media (max-width: 750px) {
    display: block;
  }
}