@import "../../global";

@mixin absolutePosition($top, $left, $right: auto) {
  top: $top;
  left: $left;
  right: $right;
}

@mixin absoluteTransform($rotation, $top, $left, $right: auto) {
  @include absolutePosition($top, $left, $right);
  transform: rotate($rotation);
}


.skill {
  display: flex;
  align-items: center;
  position: absolute;
  width: 0;
  background-color: $decoration;
  overflow: hidden;
  transition: .4s;

  .description {
    white-space: nowrap;

    .title {
      color: $white;
      font-size: 16px;
      font-family: $fontFira;
      margin-bottom: 5px;
    }

    .paragraph {
      color: $paragraph;
    }
  }

  &.rightSide {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    &:after {
      content: '';
      border-top: 45px solid $dark;
      border-left: 40px solid $decoration;
      border-bottom: 45px solid $dark;
    }
  }

  &.leftSide {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    .description {
      order: -1;
    }

    &:after {
      order: -2;
      content: '';
      border-top: 45px solid $dark;
      border-right: 40px solid $decoration;
      border-bottom: 45px solid $dark;
    }

  }

  &.show {
    width: 334px;
    transition-delay: .4s;
  }

  &[data-number='1'] {
    @include absolutePosition(-126px, 270px);
  }

  &[data-number='2'] {
    @include absolutePosition(-15px, 365px);
  }

  &[data-number='3'] {
    @include absolutePosition(96px, 390px);
  }

  &[data-number='4'] {
    @include absolutePosition(207px, 375px);
  }

  &[data-number='5'] {
    @include absolutePosition(318px, 290px);
  }

  &[data-number='6'] {
    @include absolutePosition(-50px, auto, 290px);
  }

  &[data-number='7'] {
    @include absolutePosition(90px, auto, 350px);
  }

  &[data-number='8'] {
    @include absolutePosition(230px, auto, 320px);
  }
}


.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 50%;
  padding: 10px;
  margin: 8px;

  svg {
    width: 50px;
    height: 50px;
  }
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  animation: pulse 1.5s infinite;
  animation-delay: .3s;
  z-index: 1;
  cursor: pointer;
  transition: .3s;
  transform: scale(1);
  &.hide {
    transform: scale(0);
  }

  &[data-number='1'] {
    @include absolutePosition(-6px, auto, 35px);
  }


  &[data-number='2'] {
    @include absolutePosition(50px, auto, -18px);
  }

  &[data-number='3'] {
    @include absolutePosition(135px, auto, -43px);
  }

  &[data-number='4'] {
    @include absolutePosition(220px, auto, -27px);
  }

  &[data-number='5'] {
    @include absolutePosition(276px, auto, 12px);
  }

  &[data-number='6'] {
    @include absolutePosition(30px, 40px);
  }

  &[data-number='7'] {
    @include absolutePosition(130px, -10px);
  }

  &[data-number='8'] {
    @include absolutePosition(230px, 20px);
  }

  &.show {
    animation: none;
  }
}

.line {
  position: absolute;
  content: '';
  width: 3px;
  height: 0;
  z-index: -1;
  background-color: $white;
  transition: .4s;
  transform-origin: top left;
  transition-delay: .25s;

  &[data-number='1'] {
    @include absoluteTransform(210deg, 5px, auto, 40px);
  }

  &[data-number='2'] {
    @include absoluteTransform(-105deg, 59px, auto, -15px);
  }

  &[data-number='3'] {
    @include absoluteTransform(-90deg, 145px, auto, -35px);
  }

  &[data-number='4'] {
    @include absoluteTransform(-75deg, 233px, auto, -20px);
  }

  &[data-number='5'] {
    @include absoluteTransform(-40deg, 285px, auto, 20px);
  }

  &[data-number='6'] {
    @include absoluteTransform(130deg, 35px, 49px);
  }

  &[data-number='7'] {
    @include absoluteTransform(90deg, 137px, 10px);
  }

  &[data-number='8'] {
    @include absoluteTransform(60deg, 238px, 30px);
  }

  &.show {
    transition-delay: 0s;
    height: 60px;
  }
}