@import "../../../global";

.touchContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  display: flex;
  color: $white;
  padding: 10px 5px;
  li {
    padding: 0 10px;
    font-family: $fontFira;
    font-size: 16px;
  }
}