@import "../../../global";

.menuContainer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: $fontFira;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  border-radius: 20px 20px 0 0;
  position: relative;

  .indicator {
    position: absolute;
    height: 100%;
    background-color: $white;
    width: 110px;
    border-radius: 20px 20px 0 0;
    left: 0;
    bottom: 0;
    transition: $smoothAnimation;
  }
}

.menuItem {
  text-align: center;
  width: 110px;
  padding: 15px 5px;
  position: relative;
  color: $white;
  cursor: pointer;
  transition: $smoothAnimation;
  &.active {
    color: $background;
  }
}