$dark: #23263a;
$background: #1f2235;
$red: #eb4034;
$white: #ECEBE9;
$paragraph: #A0C8C3;
$decoration: #2b2e44;
$blue: #4C8891;

$fontFira: 'Fira Code', monospace;
$lobster: 'Lobster', cursive;

$containerWidth: 1100px;