$dark: #23263a;
$background: #1f2235;
$white: #ECEBE9;
$paragraph: #A0C8C3;
$decoration: #2b2e44;
$blue: #4C8891;
$purple: #5865f2;
$lightPurple: #c89afc;
$darkPurple: #7c6afa;

$fontFira: 'Fira Code', monospace;
$lobster: 'Lobster', cursive;

$containerWidth: 1100px;
$titlePadding: 20px;

@mixin setGradient($degrees){
  background: linear-gradient($degrees, $lightPurple 0%, $darkPurple 100%);
}