$dark: #23263a;
$background: #1f2235;
$red: #eb4034;
$white: #ECEBE9;
$paragraph: #A0C8C3;
$decoration: #2b2e44;
$blue: #4C8891;
$purple: #5865f2;

/*$dark: #15100A;
$background: #443927;
$red: #D38F5E;
$white: #C7C9C6;
$paragraph: #9FA194;
$decoration: #9e7fa9;
$blue: #423153;*/

$fontFira: 'Fira Code', monospace;
$lobster: 'Lobster', cursive;

$containerWidth: 1100px;