@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: $containerWidth;
}

li {
  list-style-type: none;
}

.fullwidth {
  width: 100vw;
}

pre {
  font-family: $fontFira;
}

.code-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: .3;
  user-select: none;
  filter: blur(1px)
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d354b;
  border-radius: 5px;
}