@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;

}


li {
  list-style-type: none;
}

pre {
  font-family: $fontFira;
}


*::-webkit-scrollbar {
  width: 0;
}

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  height: 200vh;
  background: url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  animation: bg-animation 1s infinite;
  visibility: visible;
}

.section-container {
  width: 100vw;
  height: 100vh;
  background-color: $background;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }
  10% {
    transform: translate(-5%, -5%)
  }
  20% {
    transform: translate(-10%, 5%)
  }
  30% {
    transform: translate(5%, -10%)
  }
  40% {
    transform: translate(-5%, 15%)
  }
  50% {
    transform: translate(-10%, 5%)
  }
  60% {
    transform: translate(15%, 0)
  }
  70% {
    transform: translate(0, 10%)
  }
  80% {
    transform: translate(-15%, 0)
  }
  90% {
    transform: translate(10%, 5%)
  }
  100% {
    transform: translate(5%, 0)
  }
}