@import "global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;

}

li {
  list-style-type: none;
}

pre {
  font-family: $fontFira;
}


*::-webkit-scrollbar {
  width: 0;
}