@import "../../../global";


.navigationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1;
  margin-left: -10px;
  width: $navbarWidth;
  font-family: $fontFira;
  color: $white;
  margin-bottom: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  width: 100%;

}